/*=============== VARIABLES CSS ===============*/
:root {
  --color-light-xl: #fff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;

  --font-primary: "Georgia", serif;
  --font-secondary: "Arial", sans-serif;

  --font-regular: 400;

  --font-normal: normal;
  --font-italic: italic;

  --text-h1: 2.75rem;
  --text-h2: 2.1875rem;
  --text-logo: 2rem;
  --text-h2-s: 1.5625rem;
  --text-h3: 1.25rem;
  --text-button: 1.0625rem;
  --text-body: 0.9375rem;
  --text-logo-s: 0.8125rem;
  --text-body-s: 0.75rem;
}

/*=============== BASE ===============*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  color: var(--color-dark-xl);
  background-color: var(--color-light-xl);
  font-family: var(--font-primary);
  font-style: var(--font-normal);
  font-weight: var(--font-regular);
  font-size: var(--text-body);
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== PAGE ===============*/
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding-inline: 2.5rem;
}

.page__main {
  flex: 1;
}

.button-link {
  display: block;
  font-size: var(--text-button);
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  border-radius: 100px;
  padding: 0.938rem 2.813rem;
  background-color: var(--color-primary);
  transition: background-color 200ms ease;
}

.button-link:hover {
  background-color: var(--color-primary-light);
}

/*=============== HEADER ===============*/
.page__header {
  width: 100%;
  background: url("../assets/img/noise_transparent@2x.png");
  background-color: #211f20;
}

.header__container {
  display: flex;
  align-items: center;
  padding-block-start: 1.875rem;
}

.logo__title {
  font-size: var(--text-logo);
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.logo__subtitle {
  margin-top: 0.625rem;
  margin-right: 0.063rem;
  font-family: var(--font-secondary);
  font-size: var(--text-logo-s);
  letter-spacing: 0.1em;
  color: var(--color-light-xl);
  text-align: end;
}

.header__menu {
  margin-left: auto;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 2.188rem;
}

.menu__link {
  display: block;
  position: relative;
  font-family: var(--font-secondary);
  line-height: 1.6;
  color: var(--color-dark-s);
  padding-bottom: 3px;
  transition: color 150ms ease;
}

.menu__link:hover {
  color: var(--color-light-s);
}

.menu__link[aria-current="page"] {
  color: var(--color-light-s);
  cursor: default;
  pointer-events: none;
}

.menu__link[aria-current="page"]::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: var(--color-primary);
}

/*=============== MAIN ===============*/
.hero {
  width: 100%;
  background: url("../assets/img/noise_transparent@2x.png");
  background-color: #211f20;
}

.hero__container {
  display: flex;
  align-items: center;
  gap: 2.625rem;
  padding-block-start: 5.625rem;
}

.hero__content {
  flex: 0 1 28.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.625rem;
  margin-top: -5rem;
}

.hero__title {
  font-size: var(--text-h1);
  font-weight: var(--font-regular);
  line-height: 1.3;
  color: var(--color-light-xl);
  max-width: 19.375rem;
}

.hero__subtitle {
  font-family: var(--font-secondary);
  line-height: 1.6;
  color: var(--color-dark-s);
}

.hero__image-wrapper {
  flex: 1 1 43.625rem;
}

.hero__image {
  display: block;
  width: 100%;
}
